<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Editar Proveedor</title>
    <link rel="stylesheet" href="/css/styleseditarcat.css">
</head>

<body>

<header class="topbar">
    <h1>MULTIPRO PERU S.A.C.</h1>
    <span>Editar Proveedor</span>
</header>

<main class="container">

    <div class="header-section">
        <h2><b>Editar Proveedor</b></h2>
    </div>

    <section class="form-contenedor">
        <p th:if="${error}"
           class="error">

            [[${error}]]

        </p>
        <form th:action="@{/actualizarProveedor}"
              th:object="${proveedor}"
              method="post">

            <label>RUC</label>

            <input type="text"
                   th:value="*{idProveedor}"
                   readonly>

            <input type="hidden"
                   th:field="*{idProveedor}">

            <label>Nombre</label>

            <input type="text"
                   th:field="*{provNombre}">

            <label>Dirección</label>

            <input type="text"
                   th:field="*{provDireccion}">

            <label>Rubro</label>

            <select th:field="*{proRubro}" required>

                <option value="">
                    Seleccione un rubro
                </option>

                <option value="Tecnología">
                    Tecnología
                </option>

                <option value="Ferretería">
                    Ferretería
                </option>

                <option value="Construcción">
                    Construcción
                </option>

                <option value="Minería">
                    Minería
                </option>

                <option value="Logística">
                    Logística
                </option>

                <option value="Industrial">
                    Industrial
                </option>

                <option value="Transporte">
                    Transporte
                </option>

                <option value="Electrónica">
                    Electrónica
                </option>

                <option value="Oficina">
                    Oficina
                </option>

                <option value="Limpieza">
                    Limpieza
                </option>

                <option value="Seguridad">
                    Seguridad
                </option>

                <option value="Alimentos">
                    Alimentos
                </option>

            </select>

            <label>Descripción</label>

            <textarea
                    th:field="*{provDescripcion}">
            </textarea>

            <div class="botones-form">

                <button type="submit"
                        class="btn">
                    Actualizar
                </button>

                <a href="/Proveedor"
                   class="btn-cancelar">
                    Cancelar
                </a>

            </div>

        </form>

    </section>

</main>

</body>
</html>