<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Recuperación | MULTIPRO PERÚ</title>
    <link rel="stylesheet"
          href="/css/stylesnuevousu.css">
</head>

<body>
<header class="topbar">
    <h1>MULTIPRO PERU S.A.C.</h1>
    <span>Recuperación de Contraseñas</span>
</header>

<main class="container">

    <section class="header-section">
        <h2>
            <b>¿Olvidó su contraseña?</b>
        </h2>
    </section>
    <section class="form-contenedor">
        <p>

            Por motivos de seguridad,
            las contraseñas no pueden ser
            recuperadas automáticamente.

        </p>

        <p>

            Solicite a un usuario con rol
            <strong>Dueño</strong>
            que actualice su contraseña
            desde la gestión de usuarios.

        </p>
        <Section class="botones-form">
            <a href="/"
               class="btn">

                Volver al Login

            </a>
        </Section>

    </section>

</main>

</body>

</html>